.blog {
  margin-top: 2rem;

  @mixin mediumScreen {
    margin-top: 3.5rem;
  }
}

.blog-entry {
  padding: 0.5rem;
}

.entry-time,
.entry-title,
.entry-author,
.entry-meta {
  text-align: center;

  @mixin mediumScreen {
    text-align: left;
  }
}

.entry-time {
  margin-bottom: 0;
}

.entry-title {
  margin: 0.3rem 0 0.3rem 0;

  a {
    color: $mainBlue;
    display: inline-block;
    padding: 0.5rem 0;
    transition: all 1s ease-in;

    &:hover {
      color: $white;
      background-color: $mainBlue;
      padding: 0.5rem 1rem;
    }
  }
}

.entry-author {
  margin-bottom: 1.5rem;

  &--italic {
    font-style: italic;
  }
}

.entry-summary {
  text-align: justify;

  &--read-more {
    text-align: center;

    @mixin mediumScreen {
      text-align: left;
    }
  }

  p {
    margin-bottom: 1.5rem;
  }
}

.entry-footer {
  margin-top: 2rem;
}

.divider {
  border-bottom: 1px solid $mainBlue;
  width: 50%;
  margin: 0 auto;

  @mixin mediumScreen {
    width: 33.3%;
    margin: 0;
  }
}

.entry-meta {
  padding-top: 1rem;
  margin-bottom: 5rem;

  &__single {
    margin-bottom: 2rem;
  }

  .entry-terms {
    &--bolded {
      font-weight: 700;
    }
    .comments {
      margin-top: 0.5rem;
    }
  }
}
