.btn {
  background-color: $mainBlue;
  border: none;
  color: $white;
  padding: 0.6rem;

  &--find-out-more {
    background-color: #57CD79;
    margin-top: 0.8rem;
    width: 100%;
  }

  &--white {
    background-color: $white;
    color: $mainBlue;
  }

  &:hover {
    cursor: pointer;
  }
}
