.header {
  &__site-title,
  &__large-title {
    color: $mainBlue;
  }

  &__large-title {
    margin: 0;
    color: $white;
    font-size: 1.3rem;
  }
}

/* Remember mobile-first! */
.hero {
  background-image: url('../nashvilleNSA/img/nashville.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 20%;
  height: 600px;
}
