.header {
  &__site-title,
  &__large-title {
    color: $mainBlue;
  }

  &__large-title {
    margin: 0;
    color: $white;
    font-size: 1.3rem;
  }

  &--intro {
    background: rgba(95,159,203,0.8);
    font-weight: 400;
    padding: 1rem 2rem;
    line-height: 1.8rem;
  }

  &--blue {
    color: $mainBlue;
    font-weight: 300;
    border-bottom: 1px solid $mainBlue;
    display: inline-block;
    font-size: 1.8rem;
    text-transform: lowercase;
    padding-bottom: 0.3rem;

    @mixin mediumScreen {
      font-size: 2.3rem;
    }
  }
}

/* Remember mobile-first! */
.hero {
  background-image: url('../nashvilleNSA/img/nashville.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 20%;
  height: 600px;

  &__intro-block {
    margin: 0 1.8rem;
    padding-top: 4rem;
    text-align: center;

    @mixin mediumScreen {
      width: 40%;
      margin-left: 26rem;
      padding-top: 7rem;
    }

    @mixin largeScreen {
      width: 40%;
      margin-left: 26rem;
      padding-top: 10rem;
      /*margin-left: 38rem;
      margin-right: 23rem;
      padding-top: 9rem;*/
    }

    @mixin largerScreen {
      width: 35%;
      margin-left: 37rem;
    }

    /*1290px move left*/
  }
}
