.default-nav {
  height: 6.25rem;
  background-color: $mainBlue;
  border-bottom: 1px solid $mainBlue;
}

.front-nav {
  background-color: $white;
  height: 6.25rem;
}

.left-header,
.center-header {
  display: inline-block;
  padding-top: 2rem;

  a {
    color: $white;
    font-size: 1.7rem;
  }
}

.right-header {
  float: right;
  padding-top: 1.8rem;
}

.text-center {
  text-align: center;
}
