.section {
  margin: 2rem 1.5rem;

  &__screen-width {
    @mixin mediumScreen {
      width: 650px;
    }
  }

  &__footer {
    color: $white;
    margin: 0;
    padding: 2rem 1.5rem;
    background-color: $mainBlue;
  }
}

#wpgmza_map {
  margin-bottom: 1rem;
}
