.section {
  margin: 2rem auto;
  clear: both;

  @mixin mediumScreen {
    margin: 6rem auto;
  }

  &__screen-width {
    @mixin mediumScreen {
      width: 650px;
    }
  }

  &__footer {
    color: $white;
    margin: 0;
    padding: 3rem 1.5rem 2rem 1.5rem;
    background-color: $mainBlue;
    text-align: center;

    ul {
      padding: 0;
    }

    li {
      display: inline-block;
      list-style: none;
      line-height: 2rem;
      font-weight: 100;

      @mixin mediumScreen {
        display: block;
      }

      a:hover {
        border-bottom: 1px solid $white;
        color: #d0f0ff;
        padding-bottom: 0.2rem;
      }
    }

    .motto {
      padding-top: 1.3rem;

      h3, p {
        font-weight: 100;
      }

      h3 {
        font-size: 1.375rem;
      }

      p {
        font-size: 0.9rem;
        font-style: italic;
      }
    }
  }
}

#wpgmza_map {
  margin-bottom: 1rem;
}
