.section {
  margin: 2rem auto;
  clear: both;

  @mixin mediumScreen {
    margin: 6rem auto;
  }

  &__screen-width {
    @mixin mediumScreen {
      width: 650px;
    }
  }

  &__footer {
    color: $white;
    margin: 0;
    padding: 3rem 1.5rem 2rem 1.5rem;
    background-color: $mainBlue;
    text-align: center;

    a:hover {
      border-bottom: 1px solid $white;
      color: #d0f0ff;
      padding-bottom: 0.2rem;
    }

    ul {
      padding: 0;
    }

    li {
      display: inline-block;
      list-style: none;
      line-height: 2rem;
      font-weight: 100;

      @mixin mediumScreen {
        display: block;
      }
    }

    .motto {
      padding-top: 1.3rem;

      h3, p {
        font-weight: 100;
      }

      h3 {
        font-size: 1.375rem;
      }

      p {
        font-size: 0.9rem;
        font-style: italic;
      }
    }

    .social {
      padding-top: 2.5rem;

      @mixin mediumScreen {
        padding-top: 0;
      }
    }

    .copyright {
      clear: both;
      padding: 2rem 0 1rem 0;
      font-weight: 100;
      font-size: 0.875rem;

      @mixin mediumScreen {
        padding-left: 4.1rem;
      }
    }
  }
}

#wpgmza_map {
  margin-bottom: 1rem;
}
