.font {
  &__content,
  &__content--location {
    line-height: 25px;
    text-align: justify;
    font-size: 1.1rem;
    font-weight: 300;

    @mixin mediumScreen {
      padding-right: 6rem;
    }
  }

  &__white-bg {
    background-color: $white;
    color: $mainBlue;
    margin: 0 2rem;
    padding: 0.5rem;
    font-weight: 400;
  }

  &--social {
    margin-bottom: 1.5rem;
  }
}
