.font {
  &__content {
    line-height: 25px;
    padding-right: 38rem;
    text-align: justify;
  }

  &__white-bg {
    background-color: $white;
    color: $mainBlue;
    margin: 0 2rem;
    padding: 0.5rem;
    font-weight: 400;
  }
}
